* {
    box-sizing: border-box;
    font-size: 15px;
    
}
body {
    margin: 0;
    position: relative;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    list-style-type: none;
    padding-left: 0;

    cursor: pointer;
}
.container-top {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0;
    width: 100%;
    height: 110px;
}
.ct1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left {
    display: flex;
    margin-left: 74.5px;
    padding: 0;
}
.t1 {
    padding: 0px 5px;
    border-right: 1px solid #000000;
}
.t2 {
    padding-left : 5px;
}
.top-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    font-weight: 800;
    font-size: 30px;
}
.ct2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-right {
    display: flex;
    margin-right: 74.5px;
    padding: 0;
}

.navbar {
    font-size: 15px;
    position: sticky;
    top: 0;
}
.nav-total {
    height: 50px;
    background-color: #004433;
}
.nav-inner {
    display: flex;
    margin: 0px auto;
    width: 1200px;
}
.btn_sitemap {
    position: relative;
    width: 30px;
    height: 30px;
    top: 10px;
}
.btn_sitemap .fa-list {
    font-size: 30px;
    color: white;
    cursor: pointer;
} 
.list-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    width: 600px;
    color: #ffffffaa;
}
.list-age {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    width: 320px;
    color: #ffffffaa;
    border-left: 3px solid #ffffffaa;
}
.btn_search {
    position: relative;
    width: 30px;
    height: 30px;
    top: 13px;
    left: 10px;
}
.btn_search .fa-magnifying-glass {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.searching {
    position: relative;
    top: 10px;
    left: 15px;
    width: 200px;
    height: 30px;
    background-color: white;
    border: 2px solid yellowgreen;

    cursor: pointer;
}
/* 여기까지 header 영역 */