* {
    box-sizing: border-box;
    font-size: 15px;
    
}
body {
    margin: 0;
    position: relative;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    list-style-type: none;
    padding-left: 0;

    cursor: pointer;
}
.container {
    margin: 0px 74.5px;
}
.container-top {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0;
    width: 1200px;
    height: 110px;
}
.ct1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left {
    display: flex;
    padding: 0;
}
.t1 {
    padding: 0px 5px;
    border-right: 1px solid #000000;
}
.t2 {
    padding-left : 5px;
}
.top-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    font-weight: 800;
    font-size: 30px;
}
.ct2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-right {
    display: flex;
    padding: 0;
}

.navbar {
    font-size: 15px;
}
.nav-total {
    height: 50px;
    background-color: #004433;
}
.nav-inner {
    display: flex;
    margin: 0px auto;
    width: 1200px;
}
.btn_sitemap {
    position: relative;
    width: 30px;
    height: 30px;
    top: 10px;
}
.btn_sitemap .fa-list {
    font-size: 30px;
    color: white;
    cursor: pointer;
} 
.list-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    width: 600px;
    color: #ffffffaa;
}
.list-age {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    width: 320px;
    color: #ffffffaa;
    border-left: 3px solid #ffffffaa;
}
.btn_search {
    position: relative;
    width: 30px;
    height: 30px;
    top: 13px;
    left: 10px;
}
.btn_search .fa-magnifying-glass {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.searching {
    position: relative;
    top: 10px;
    left: 15px;
    width: 200px;
    height: 30px;
    background-color: white;
    border: 2px solid yellowgreen;

    cursor: pointer;
}
/* 여기까지 header 영역 */

.slider {
    width: 640px;
    height: 460px;
    position: relative;
    margin: 0;
}
.slider input[type=radio] {
    display: none;
}

.imgs {
    padding: 0;
    margin: 0;
}
.a {
    position: absolute; /* 슬라이드가 겹쳐서 모여야 하므로 absolute 속성으로 배치 */
    opacity: 0; /* 체크한 라디오박스 순서의 슬라이드만 표시되도록 기본 투명도 설정 */
    list-style: none;
    padding: 0;
    margin: 0;
}
.b {
    width: 640px;
    height: 460px;
}

.bullets{
    position: absolute;
    left: 50%; /* 가로로 가운데 정렬 */
    transform: translateX(-50%);
    bottom: 20px; /* 슬라이드 밑에서 20px 간격 띄움 */
    z-index: 2; /* 슬라이드 위에 보이도록 레이어 순위를 높임 */
}
.bullets label{
    display: inline-block; /* 한 줄로 불릿 나열*/
    border-radius: 50%; /* 원형 불릿으로 처리 */
    background-color: rgba(0,0,0,0.55);
    width: 20px; /* 불릿 너비 */
    height: 20px; /* 불릿 높이 */
    cursor: pointer;
}
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
/* 슬라이드 전환효과 */
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}